/*css geral*/
html {
    font-family: "Heebo", sans-serif;
}

a {
    color: black;
    text-decoration: none;

}

/*===header===*/
header section h1 {
    padding: 10vw 0 5vw 7vw;
}

/*===int===*/
main {
    text-align: center;
}

main section.comissao div {
    text-align: center;
    background-color: #F6F0E4;
    border-radius: 6px;
    margin: 4vw 5vw 3vw 5vw;
    padding: 2vw 0 0 2vw;

}

main section.comissao div p span {
    padding: 3vw 0 3vw 0;
}

main section.comissao h2 {
    text-align: center;
}

main section.comissao div span {
    padding: 10vw;
}

main section.high h2 {
    padding: 20px 0 20px 0;
}

main section.high h3 {
    font-size: 3rem;
    padding: 5px 15px 5px 15px;
    font-weight: 300;
}

main section.high p a {
    text-decoration: underline;
    padding: 10vw 0 15vw 0;
    display: inline-block;
}

main section.sobre h1 {
    font-size: 3rem;
    padding: 15vw 0 5vw 0;
    font-weight: 300;
}

main section.sobre h2 {
    padding: 15vw 0 5vw 0;
}

main section.sobre h3 {
    padding: 5vw 5vw 5vw 5vw;
    font-size: 1.4rem;
}

main section.sobre p {
    padding: 3vw 5vw 3vw 5vw;
}

main section.sobre p img {
    display: inline-block;
    padding: 15vw 0 5vw 0;
}

main section.news h1 {
    font-size: 3rem;
    padding: 5vw 10vw 5vw 10vw;
    font-weight: 300;
}

main section.news h2 {
    padding: 5vw 5vw 5vw 5vw;
}

main section.news h3 {
    font-size: 1.5rem;
    padding: 3vw 15vw 3vw 15vw;
}

main section.news p.texto {
    color: #5B5B5B;
    padding: 3vw 10vw 3vw 10vw;
}

main section.news ul li {
    border: 1px solid rgba(0, 0, 0, 0.212);
    margin: 3vw 10vw 5vw 10vw;
    padding: 10vw;
    border-radius: 20px;
}
main section.resultado{
    text-align: left;
}
main section.resultado h1 {
    font-size: 3rem;
    padding: 15vw 10vw 5vw 10vw;
    font-weight: 300;
}
main section.resultado p{
    color: #5B5B5B;
    padding: 10vw 10vw 10vw 10vw;
}
main section.resultado h2{
    font-weight: 500;
    padding: 5vw 10vw 2vw 5vw;
}
main section.resultado h3{
    font-size: 1.4rem;
}
main section.resultado ul li h3{
    padding:10vw 10vw 5vw 10vw;
    border-left: 1px solid rgba(0, 0, 0, 0.211);
    margin: 15vw 10vw 10vw 10vw;
}
main section.voices img{
width: 100%;
}