html {
  font-size: clamp(1rem, calc(0.5rem + 0.7vw), 4rem);
}
header{
  padding: 5vw 0 0 0;
  text-align: center;
}
header nav ul li{
  margin: 10px 0;
}
header nav ul li.log{
  color: #FBBC05;
}
header nav li.button{
  background-color: #FBBC05;
  color: white;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
}
.banner{
  background: url(../images/background-banner.png) no-repeat;
  background-size: auto 100%;
  padding: 3vw 5vw 3vw 5vw;
  margin: 5vw 0 5vw 0;
}
.banner div.img{
  display: none;
}
.banner div h2{
  font-size: 2rem;
} 
.banner p{
  color: rgb(2, 1, 46);
  font-size: 0.7rem;
}
.banner p a{
  background-color: #252B42;
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 3vw 0 ;
  padding: 0 2vw;
  border-radius: 8px;

}
.banner p.buttons{
  display: flex;
  color: white;
  padding: 5px;
  gap: 30px;
  text-align: center;
}
.banner p.buttons img{
  height: 50%;
}
.ready div.imagem{
  display: none;
}
.ready{
  text-align: center;
  padding: 3vw 5vw 3vw 5vw;
}
.ready h2{
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px 0;
}
.ready div ul li{
  margin: 20px 0;
}
.ready h3{
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px 0;
}
.ready p{
  color: gray;
}
.download{
  background: #FBBC05;
  margin: 3vw 5vw ;
  padding: 10px;
  border-radius: 10px;
  color: white;
}
.download h2{
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 0 20px 0;
}
.download h2{
  font-size: 1.5rem;
}
.download button{
  background: black;
  padding: 10px 20px;
  border-radius: 10px;
}
.services{
  margin: 3vw 5vw 3vw 5vw;
}
.services h2{
  font-size: 1.1rem;

}
.services div.text{
  margin: 0 0 20px 0;
}
.services ul li{
  background: #f6f6f6;
  padding: 20px 20px 20px 20px;
  margin: 10px 0 10px 0;
}
.services ul li h3{
  font-size: 1.07rem;
  padding: 20px 0 10px 0;
}

@media only screen and (min-width: 600px){
  header{
    display: flex;
    align-items: center;
  }
  header nav{
    display: flex;
    justify-content: space-between;
    gap: 30vw;
  }
  header nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
  }
  header{
    padding: 5vw 5vw 0vw 5vw;
  }
  .banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size: 100% auto;
    margin: 5vw 5vw 2vw 5vw;
  }
  .banner div.img{
    display: block;
  }
  .ready div.imagem{
    display: block;
  }
  .ready > p{
    padding: 0 20vw 0 20vw;
  }
  .ready > div{
    display: flex;
    justify-content: center;
    gap: 12vw;
    margin: 10vw 0 0 0;
  }
  .ready ul{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 40vw;
  }
  .ready div ul li{
    width: 40%;
  }
  /*.ready ul{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 30px;
  }*/
  .download{
    padding: 3vw;
    background: url(../images/iphone-pet-ui.png) no-repeat, url(../images/iphone-pet-ui.png) no-repeat, linear-gradient(#FBBC05,#FBBC05);
    background-size: auto 140%, auto 120%;
    background-position:60% -50%, 90% -5vw;
  }
  .download p{
    width: 25%;
    margin: 0 0 5vw 0;
  }
  .services{
    display: flex;
    gap: 10vw;
  }
  .services div.text{
    width: 30%
  }
  .services ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 70%;
  }


}