html {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5vw 10vw 5vw 10vw;
}

header ul {
    display: flex;
    gap: 20px;
}

header h1 span {
    padding: 3vw 15vw 3vw 15vw;
    border-radius: 3vw;
    margin: 0 0 20vw 0;
    color: white;
    text-align: center;
    background-color: #458FF6;
    padding: 0px 5px 0px 5px;
    border-radius: 50%;
    color: white;
    font-weight: 700;
    margin: 0 5px 0 0;
}

header a.atual {
    font-weight: 700;
}

/*===banner===*/
.banner {
    display: flex;
    padding: 5vw 5vw 0vw 5vw;
    justify-content: space-between;
    padding: 3vw 15vw 3vw 15vw;
    border-radius: 3vw;
    margin: 0 0 20vw 0;
    gap: 15px;
    font-size: 1.4rem;
}

.banner h2 {
    font-weight: 700;
    font-size: 2.5rem;
    padding: 0 30vw 1vw 0;
}

.banner h2 span {
    color: #458FF6;
}

.banner p {
    color: #7D7987;
    padding: 2vw 15vw 2vw 0;
    font-size: 1.1rem;
}

.banner p.button {
    background-color: #458FF6;
    color: white;

}